<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script
       src="https://code.jquery.com/jquery-3.3.1.min.js"
       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
       crossorigin="anonymous"></script>
    <script src="main.js"></script>
    <link href="style.css" rel="stylesheet">
<body>
<div class="main">

<span id='x1'>[x1]</span> <span id='x2'>[x2]</span>


{{ main }}

</div>
</body>
